<div class="container mt-4" *ngIf="basket && basket.items">
  <div class="row">
    <div class="col-md-8 col-lg-7">
      <h2>Carrito de la compra</h2>
      <div class="row mt-3" *ngFor="let item of basket.items">
        <div class="card rv-px" style="max-width: 700px">
          <div class="row g-0">
            <div class="col-md-4 col-lg-3">
              <img
                src="{{ item.pictureUrl }}"
                class="img-fluid rounded-start"
              />
            </div>
            <div class="col-md-8 col-lg-9">
              <div class="card-body">
                <div class="row">
                  <h5 class="card-title col-md-9">{{ item.productName }}</h5>
                  <div class="col-md-3 text-end">
                    <b>{{ item.unitPrice * item.quantity | currency }}</b>
                  </div>
                </div>
                <p class="card-text">
                  <small class="text-body-secondary"
                    >{{ item.unitPrice | currency }}/ ud</small
                  >
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button
                    class="btn btn-light"
                    type="button"
                    (click)="updateItemQuantity(item, item.quantity - 1)"
                  >
                    <i class="bi bi-dash"></i>
                  </button>
                  <div class="btn disabled">{{ item.quantity }}</div>
                  <button
                    class="btn btn-light"
                    type="button"
                    (click)="updateItemQuantity(item, item.quantity + 1)"
                  >
                    <i class="bi bi-plus"></i>
                  </button>
                  <button
                    class="btn btn-danger"
                    type="button"
                    (click)="deleteItem(item.id)"
                  >
                    <i class="bi bi-trash3"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-5 mt-2">
      <div><h4>Resumen del pedido</h4></div>
      <ul class="list-group mt-2">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let item of basket.items"
        >
          {{ item.quantity }}x{{ item.productName }}
          <span class="badge bg-secondary badge-pill">{{
            item.quantity * item.unitPrice | currency
          }}</span>
        </li>
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <b>Subtotal</b><b>{{ totalPrice | currency }}</b>
        </li>
      </ul>
      <div class="row mt-2">
        <div class="col-6">
          <button
            class="btn btn-outline-primary w-100"
            type="button"
            [routerLink]="['/catalog']"
          >
            Seguir comprando
          </button>
        </div>
        <div class="col-6">
          <button
            class="btn btn-primary w-100"
            type="button"
            [routerLink]="['/order']"
          >
            Comprar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
