<div class="container mt-4" *ngIf="basket && basket.items">
  <div class="row">
    <div class="col-md-8 col-lg-7">
      <h2>Carrito de la compra</h2>
      <div class="row mt-3" *ngFor="let item of basket.items">
        <div class="card rv-px" style="max-width: 700px">
          <div class="row g-0">
            <div class="col-md-4 col-lg-3">
              <img
                src="{{ item.pictureUrl }}"
                class="img-fluid rounded-start"
              />
            </div>
            <div class="col-md-8 col-lg-9">
              <div class="card-body h-100 position-relative">
                <div class="row">
                  <h5 class="card-title col-md-9">{{ item.productName }}</h5>
                  <div class="col-md-3 text-end">
                    <b>{{ item.unitPrice * item.quantity | currency }}</b>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <p class="card-text">
                      <small class="text-body-secondary"
                        >{{ item.unitPrice | currency }}/ ud</small
                      >
                    </p>
                  </div>
                </div>
                <div class="row w-100 bottom-row">
                  <div class="col-sm-7 col-md-7 col-lg-10">
                    <div class="col-md-2 btn-group" role="group">
                      <button
                        class="btn btn-light"
                        type="button"
                        (click)="updateItemQuantity(item, item.quantity - 1)"
                        [ngClass]="{ disabled: item.quantity === 1 }"
                      >
                        <i class="bi bi-dash"></i>
                      </button>
                      <div class="btn disabled border-0">
                        {{ item.quantity }}
                      </div>
                      <button
                        class="btn btn-light"
                        type="button"
                        (click)="updateItemQuantity(item, item.quantity + 1)"
                      >
                        <!-- to-do: make sure the number of items doesn't surpass the max. number of elements in catalog -->
                        <i class="bi bi-plus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="col-sm-5 col-md-5 col-lg-2">
                    <button
                      class="btn btn-danger"
                      style="min-width: 75px"
                      type="button"
                      (click)="deleteItem(item.id)"
                    >
                      <i class="bi bi-trash3"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-5 mt-2">
      <div><h4>Resumen del pedido</h4></div>
      <ul class="list-group mt-2">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let item of basket.items"
        >
          {{ item.quantity }}x{{ item.productName }}
          <span class="badge bg-secondary badge-pill">{{
            item.quantity * item.unitPrice | currency
          }}</span>
        </li>
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <b>Subtotal</b><b>{{ totalPrice | currency }}</b>
        </li>
      </ul>
      <div class="row mt-2">
        <div class="col-6">
          <button
            class="btn btn-outline-primary w-100"
            type="button"
            [routerLink]="['/catalog']"
          >
            Seguir comprando
          </button>
        </div>
        <div class="col-6">
          <button
            class="btn btn-primary w-100"
            type="button"
            [routerLink]="['/order']"
          >
            Comprar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
