<div class="container mt-4">
  <div class="row row-cols-1 row-cols-md-4 row-cols-lg-5 g-4 card-group" *ngIf="catalog">
    <div *ngFor="let item of catalog.data" class="col">
      <div class="card h-100">
        <img
          src="{{ item.smallImageUrl }}"
          class="card-img-top"
          alt="product image"
        />
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">
            {{ item.shortDesc }}
          </p>
          <div>
            <small *ngFor="let category of item.categories" class="text-body-secondary">{{
              category.name
            }}</small>
          </div>
          <div>{{ item.priceValue | currency }}</div>
        </div>
        <div class="card-footer align-items-end">
          <button
            type="button"
            class="btn btn-light"
            style="float: right"
            [ngClass]="{ disabled: !authenticated }"
            (click)="addToCart(item)"
          >
            <i class="bi bi-cart-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <app-pager
    [model]="paginationInfo"
    (changed)="onPageChanged($event)"
  ></app-pager>
</div>
